body, html{
  margin: 0px;
  padding: 0px;
  width: 320px;
  height: 480px;
}

#banner {
  position: absolute;
  z-index: 1;
}

#panorama {
  width: 320px;
  height: 480px;
}

#gif {
  position: absolute;
  z-index: 2;
  width: 100px;
  top: 300px;
  left: 110px;
}